.graphicContainer {
    grid-column: 1 / span 3;
    grid-row: 2;
    overflow: hidden;
}

.graphicImage {
    position: relative;
    max-width: 250px;
    top: 55%;
    left: 60%;
    transform: scale(0,0);
    animation: graphic-grow 1s ease-in forwards 2.7s;
}


@keyframes graphic-grow {
    from {
        transform: scale(0,0);
    }
    to {
        transform: scale(1,1);
    }
}

@media screen and (max-width: 600px) {
    .graphicImage {
        left: 40%;
        animation: none;
    }
}
