#workContainer {
    display: grid;
    height: auto;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% 80% 10%;
    overflow-x: hidden;
    min-height: 150vh;
}

.workHeader {
    grid-row: 2;
    grid-column: 2;
    display: block;
    height: fit-content;
}

.workHeader h2 {
    color: #EE4266;
}



@media screen and (max-width: 600px) {
    #workContainer {
        grid-template-columns: 5% 90% 5%;
    }
}