#contactContainer {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% 80% 10%;
    overflow: hidden;
    min-height: 100vh;
}

.contactHeader {
    grid-row: 2;
    grid-column: 2;
    display: block;
    height: fit-content;
}

.contactHeader h2 {
    color: #EE4266;
}

@media screen and (max-width: 600px) {
    #contactContainer {
        grid-template-columns: 5% 90% 5%;
    }
}

#contactform {
    display: block;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #EE4266;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: black;
    color: #EE4266;
    font-family: Montserrat;
  }

  input[type=submit] {
    width: 100%;
    background-color: #EE4266;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #EE4266;
    border-radius: 2px;
    cursor: pointer;
    font-family: Montserrat;
  }

  input[type=submit]:focus {
    border: 1px solid white;
  }
