@import"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.fa {
    padding: 3px;
    font-size: 20px;
    width: 30px;
    text-decoration: none;
    border-radius: 50%;
    color: white;
  }

.introContainer {
    overflow: hidden;
    grid-row: 2;
    grid-column: 2 / span 3;
}

.introduction {
    position: relative;
    top: 30%;
    left: 100%;
    animation: slide 1s ease forwards 2.7s;
}

.introduction h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.introduction p {
    margin: 0;
}

@keyframes slide {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}
